[user]
	email = "james@menzies.io"
	name = "James Menzies"
	signingKey = "B267F82C4A166453915930FE477FCAE2667DD8D1"

[init]
	defaultBranch = main

[submodule]
	recurse = true

[core]
	autocrlf = input

[color]
	ui = true

[commit]
	gpgSign = true

[push]
	autoSetupRemote = true

[tag]
	gpgSign = true
