[user]
	email = "james@menzies.io"
	name = "James Menzies"

[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[submodule]
	recurse = true

[core]
	autocrlf = input

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.dotfiles/git/allowed_signers

[color]
	ui = true

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[tag]
	gpgSign = true
