[user]
	email = "james@menzies.io"
	name = "James Menzies"
	signingKey = "8F744E5C1AA8AB64B08411A0997831B9742AA61A"

[init]
	defaultBranch = main

[submodule]
	recurse = true

[core]
	autocrlf = input

[color]
	ui = true

[commit]
	gpgSign = true

[push]
	autoSetupRemote = true

[tag]
	gpgSign = true
